// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 1100px;

// Tablets and small desktops
$screen-lg-min: 1600px;

// Large tablets and desktops
$screen-xl-min: 1800px;

@mixin sm {
    @media screen and (max-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Font sizes

$modal-header-size: 12px;