.title {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	margin: 30px 10px 0 10px;
	padding: 20px 20px;
	border-radius: 12px;
	border: 2px solid white;
}

.form {
	margin: 10px 10px 0 10px;
	border-radius: 12px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	padding: 20px 15px;
	color: white;
	gap: 10px;

	input {
		border-radius: 12px;
		border: 2px solid white;
		background: transparent;
		height: 40px;
		padding-left: 10px;
		color: white;
	}
	textarea {
		background: transparent;
		border-radius: 12px;
		border: 2px solid white;
		padding: 10px;
		color: white;
	}

	button {
		background: white;
		border-radius: 12px;
		border: 2px solid white;
		height: 40px;
		font-weight: bold;
		font-size: 15px;
	}
}
