.main {
	background: black;
	color: white;
	padding: 0 10px;
}

.mePhoto {
	width: 100%;
	height: 50vh;
	margin: 0 auto;
	display: block;
	background: url(../../../public/assets/me.jpg);
	background-size: cover;
	background-position: center;
	//гор, вер, размытие, растяжение, цвет
	box-shadow: inset 0px -100px 70px 0px rgb(0 0 0 / 79%);
	position: relative;
	border-radius: 12px;
}

.title {
	position: absolute;
	bottom: 30px;
	right: 5px;
	font-size: 40px;
	padding-left: 20px;
}

.subTitle {
	position: absolute;
	bottom: 15px;
	right: 5px;
}

.githubLink {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 35px;
	text-decoration: none;
	margin-top: 20px;
	padding: 20px 20px;
	border-radius: 12px;
	border: 2px solid white;
}
